{% load staticfiles %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 ">
      <h2 class="section-heading text-center">The Wedding</h2>
      <hr class="primary">
      <dl class="dl-horizontal lead">
        <dt>When</dt>
        <dd>Saturday August 8, 2020<br>Ceremony at 11 am<br>Brunch and frivolity to follow</dd>
        <dt>Where</dt>
        <dd>
        <a href="#location">The Laurelhurst Club</a>, Portland, OR<br>
        Ceremony outside (weather permitting)<br>
        Food inside<br>
        Party everywhere <img src="{% static 'bigday/images/party-parrot.gif' %}"></br>
        </dd>
        <dt>Attire</dt>
        <dd>Portland Fancy:<br>Button-downs, slacks, skirts, dresses, etc.<br>Wear something nice, but comfortable.</dd>
        <dt>Also bring</dt>
        <dd>A nintendo switch if you have one!</dd>
        <dt>Food</dt>
        <dd>Brunch Buffet catered by <a
          href="https://www.elephantsdeli.com/">Elephant's</a> immediately
        following the ceremony, featuring:
        <ul>
          <li>Fresh fruit</li>
          <li>Cheesy Vegetable Frittata</li>
          <li>Blueberry French Toast Casserole</li>
          <li>Herbed roasted potatoes</li>
          <li>Fall Salad</li>
          <li>Bacon & Sausage</li>
          <li>Vegan & gluten-free options</li>
          <li>Stumptown coffee & Steven Smith tea</li>
          <li>Mimosas</li>
          <li>Beer & wine (open bar)</li>
        </ul>
        and, of course, wedding cake, catered by <a href="https://www.papahaydn.com/">Papa Haydn</a>
        </dd>
      </dl>
    </div>
  </div>
</div>
